doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    base(href='/')
    title Fenden
    meta(name='description', content='Dashboard')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='shortcut icon', href='assets/img/favicon.png', type='image/x-icon')
    link(href='assets/css/bootstrap.min.css', rel='stylesheet')
    link#bootstrap-rtl-link(href='', rel='stylesheet')
    link(href='assets/css/font-awesome.min.css', rel='stylesheet')
    link(href='assets/css/weather-icons.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300', rel='stylesheet', type='text/css')
    link#beyond-link(href='assets/css/beyond.css', rel='stylesheet', type='text/css')
    link(href='assets/css/datepicker3.css', rel='stylesheet')
    link(href='assets/css/demo.min.css', rel='stylesheet')
    link(href='assets/css/typicons.min.css', rel='stylesheet')
    link(href='assets/css/animate.min.css', rel='stylesheet')
    link(href='assets/css/sweetalert.css', rel='stylesheet')
    link(href='assets/css/fileinput.min.css', rel='stylesheet')
    link(href='assets/css/extras.css', rel='stylesheet')
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js')
    script(src='https://code.angularjs.org/1.6.1/angular-route.js')
    script(src='assets/js/ng-infinite-scroll.min.js')
    script(src='assets/js/sweetalert.min.js')
    script(src='assets/js/fileinput.js')
    script(src='assets/js/moment.js')
    script(src='assets/js/fileinput-es.js')
    script(src='assets/js/datapicker/bootstrap-datepicker.js')
    script(src='assets/js/bootbox/bootbox.js')
    script(type='text/javascript', async='', src='https://platform.twitter.com/widgets.js')
    script(src='assets/js/core/main.routes.js')
    script(src='assets/js/core/root.controller.js')
    script(src='assets/js/core/main.controller.js')
    script(src='assets/js/core/category.controller.js')
    script(src='assets/js/core/message.controller.js')
    script(src='assets/js/core/more.controller.js')
    script(src='assets/js/core/profile.controller.js')
    script(src='assets/js/core/offer.controller.js')
    script(src='assets/js/core/map.controller.js')
  body(ng-app='AppAngular')
    .loading-container
      .loader
    .navbar.navbar-fixed-top
      .navbar-inner
        .navbar-container
          .navbar-header.pull-left
            a.navbar-brand(href='/')
              small
                img(src='assets/img/logo.png', alt='')
          #sidebar-collapse.sidebar-collapse
            i.collapse-icon.fa.fa-bars
          .navbar-header.pull-right
            .navbar-account
              ul.account-area
                li
                  a(href='/offer')
                    i.icon.fa.fa-cloud-upload
                li
                  a.dropdown-toggle(data-toggle='dropdown', title='Notifications', href='#')
                    i.icon.fa.fa-warning
                  ul.pull-right.dropdown-menu.dropdown-arrow.dropdown-notifications
                    li
                      a(href='#')
                        .clearfix
                          .notification-icon
                            i.fa.fa-phone.bg-themeprimary.white
                          .notification-body
                            span.title Skype meeting with Patty
                            span.description 01:00 pm
                          .notification-extra
                            i.fa.fa-clock-o.themeprimary
                            span.description office
                    li
                      a(href='#')
                        .clearfix
                          .notification-icon
                            i.fa.fa-check.bg-darkorange.white
                          .notification-body
                            span.title Uncharted break
                            span.description 03:30 pm - 05:15 pm
                          .notification-extra
                            i.fa.fa-clock-o.darkorange
                    li
                      a(href='#')
                        .clearfix
                          .notification-icon
                            i.fa.fa-gift.bg-warning.white
                          .notification-body
                            span.title Kate birthday party
                            span.description 08:30 pm
                          .notification-extra
                            i.fa.fa-calendar.warning
                            i.fa.fa-clock-o.warning
                            span.description at home
                    li
                      a(href='#')
                        .clearfix
                          .notification-icon
                            i.fa.fa-glass.bg-success.white
                          .notification-body
                            span.title Dinner with friends
                            span.description 10:30 pm
                li
                  a.dropdown-toggle(data-toggle='dropdown', title='Mails', href='#')
                    i.icon.fa.fa-envelope
                    span.badge 3
                  ul.pull-right.dropdown-menu.dropdown-arrow.dropdown-messages
                    li(ng-repeat='msj in listLastMessages')
                      a(href='#')
                         img.message-avatar(ng-src='{{msj.from.profile_photo}}')
                         .message
                           span.message-sender {{msj.from.first_name}}
                           span.message-time {{msj.date}}
                           span.message-body {{msj.message}}
                    li
                      a(href='/messages')
                        i.fa.fa-comments-o
                        |  Mas Mensajes
                li
                  a.login-area.dropdown-toggle(data-toggle='dropdown')
                    .avatar
                      img(src='#{avatar}')
                    section
                      h2
                        span.profile
                          span #{name}
                  ul.pull-right.dropdown-menu.dropdown-arrow.dropdown-login-area
                    li.email
                      a #{mail}
                    li
                      .avatar-area
                        img.avatar(src='#{avatar}')
                    li.edit
                      a.pull-left(href='/profile/#{id}') Perfil
                      a.pull-right(href='#') Configuración
                    li.dropdown-footer
                      a(ng-click='logout()')
                        | Cerrar Sesión 
                        i.fa.fa-power-off
    .main-container.container-fluid
      .page-container
        #sidebar.page-sidebar.sidebar-fixed
          ul.nav.sidebar-menu
            li(ng-repeat='ca in listCategories')
              a(href='/category/{{ca.path_categories}}')
                i.menu-icon(class='{{ca.classes}}')
                span.menu-text  {{ca.category}}
        .page-content
          .page-body
            center
              img(ng-show='loading', src='assets/img/loading-route.gif')
          div(ng-show='body', ng-view='')
    script(src='assets/js/functions.js')
    script(src='assets/js/slimscroll/jquery.slimscroll.min.js')
    script(src='assets/js/beyond.js')