<div class="col-lg-12 col-sm-12 col-xs-12" infinite-scroll="loadMore()" infinite-scroll-distance="1">
	<div class="widget">
		<div class="widget-header">
			<span class="widget-caption">
				<span class="input-icon">
	            	<input type="text"  ng-keyup="loadlistOffers($event.target.value)" id="textFilter" class="form-control input-xs"  ng-keyup="searchFilter()" placeholder="Buscar...">
	            	<i class="glyphicon glyphicon-search blue"></i>
	            </span>
			</span>
			<div class="widget-buttons">
				<button ng-click="goToMap()" class="btn btn-success btn-xs">Cercanas <i class="fa fa-map-marker" aria-hidden="true"></i></button>
			</div><!--Widget Buttons-->
		</div><!--Widget Header-->
		<div class="widget-body col-md-12" style="height: 280px;">
				<div ng-repeat='of in listOffer'>
			    	<div class="comment col-md-6" style="height: 280px;">
			            <a href="/profile/{{of.user_id}}"><img ng-src="{{of.avatar}}" class="comment-avatar"></a>
			            
			            <div class="btn-group" style="padding-left: 20px;">
							<a class="btn btn-primary btn-xs" style="border-radius: 3px 0 0 0 !important;" href="#" ng-click="of.share_facebook()"><i class="fa fa-facebook"></i></a>
							<a class="btn btn-info btn-xs" href="{{of.share_twitter}}"><i class="fa fa-twitter"></i></a>
							<a class="btn btn-danger btn-xs" style="border-radius: 0 3px 0 0" href="{{of.share_google}}"><i class="fa fa-google-plus"></i></a>
						</div>
						
			            <div class="comment-body">
			                <div class="comment-text">
			                    <div class="comment-header">
			                   		<div class="row col-md-12">
				                    	<a href="/more/{{of.id}}" title="{{of.title}}"><h4>{{of.title}} - {{of.price}} </h4></a>
									</div>
			                        {{of.name}} <span> Desde : {{of.start_date}} - Hasta :  {{of.end_date}}</span>
			                    </div>
			                    
			                    <div class="row">
			                    	<div class="col-md-3">
			            				<img ng-src="{{of.image}}" style="width: 100%; max-width: 100px; box-shadow: 0 0 5px #111;">
			            			</div>
			                    	<div class="col-md-9">{{of.commentary}}</div>
			                    </div>
			                    <hr/>
			                    <span class="badge badge-primary badge-square"> Tienda : {{of.shop}}</span>
			                    <span class="badge badge-success badge-square"> Sucursal : {{of.branch}}</span>
			                    <a class="badge badge-info badge-square" href="/category/{{of.category.path}}"><i class="{{of.category.icon}}"></i> {{of.category.name}}</a>
								<div class="row" style="margin-top: 6px;">
									<div class="col-md-12">
					                    <a style="text-decoration: none" ng-click="like('like',of.id)" id="like-{{of.id}}">
					                    	<i class="fa fa-thumbs-o-up {{ of.likes ? 'blue' : '' }}"></i><span id="countlike-{{of.id}}">{{of.likes_count}}</span>
					                    </a>&nbsp;&nbsp;
					                    <a style="text-decoration: none" ng-click="like('dislike',of.id)" id="dislike-{{of.id}}">
					                    	<i class="fa fa-thumbs-o-down {{ of.dislikes ? 'blue' : '' }}"></i><span id="countdislike-{{of.id}}">{{of.dislikes_count}}</span>
					                    </a>
					                    <span class="pull-right more-link"><a href="/more/{{of.id}}">Seguir leyendo...</a></span>
			               			</div>
			               		</div>
							</div>
			            </div>
			        </div>   
				</div>
		</div><!--Widget Body-->
	</div><!--Widget-->
</div>