<style>
	#map {
		border-radius: 5px;
		border: 1px solid #CCC;
	}
</style>

<div class="col-lg-12 col-sm-12 col-xs-12">
	<div class="widget">
		<div class="widget-header">
			<span class="widget-caption">Productos Cerca <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></span>
			<span class="widget-caption pull-right" style="padding-right: 10px;">
				<span class="input-icon">
	            	<input type="text" ng-keyup="loadlistOffers($event.target.value)" id="textFilter" class="form-control input-xs" id="glyphicon-search" ng-keyup="searchFilter()" placeholder="Buscar...">
	            	<i class="glyphicon glyphicon-search blue"></i>
	            </span>
			</span>
			<div class="btn-group pull-right" style="margin-right: 40px;">
				<button type="button" onclick="setTravel(this)" value="WALKING" class="btn btn-sm btn-primary travel"><i class="fa fa-male"></i></button>
				<button type="button" onclick="setTravel(this)" value="BICYCLING" class="btn btn-sm btn-default travel"><i class="fa fa-bicycle"></i></button>
				<button type="button" onclick="setTravel(this)" value="DRIVING" class="btn btn-sm btn-default travel"><i class="fa fa-car"></i></button>
			</div>
		</div><!--Widget Header-->
		<div class="widget-body">
			<div id="map" style="width: 100%; height: 500px;"></div>
		</div><!--Widget Body-->
	</div><!--Widget-->
</div>
<input type="hidden" id="travel" value="WALKING">


<script>

function setTravel(option){
	$('#travel').val(option.value);
	
	$('.travel').removeClass('btn-default');
	$('.travel').removeClass('btn-primary');
	
	$('.travel').addClass('btn-default');
	$(option).removeClass('btn-default');
	$(option).addClass('btn-primary');
}

function setMap(location){
	var infowindow = new google.maps.InfoWindow();
	var coords = { lat: location.latitude, lng: location.longitude };
	var origin = new google.maps.LatLng(coords.lat, coords.lng);
	var map = new google.maps.Map(document.getElementById('map'), {
      center: origin,
      scrollwheel: false,
      zoom: 14
    });
	
	directionsService = new google.maps.DirectionsService,
    directionsDisplay = new google.maps.DirectionsRenderer({
      map: map
    });
	
	//Lista de iconos de mapa
	var iconBase = 'assets/img/maps/';
    var icons = {
		parking: {
			icon: iconBase + 'blue-icon.png'
		},
		library: {
			icon: iconBase + 'green-icon.png'
		},
		info: {
			icon: iconBase + 'blue-icon.png'
		},
		me: {
			icon: iconBase + 'me-icon.png'
		}
    };
	
	//Marcar ubicación
	function placeMarker(loc,content,type) {
		var marker = new google.maps.Marker({
			position : new google.maps.LatLng({ lat : loc[0], lng : loc[1] }),
			type : 'info',
			map      : map,
			animation: google.maps.Animation.DROP,
			icon: icons[type].icon,
		});
		google.maps.event.addListener(marker, 'click', function(evt){
			infowindow.close();
			infowindow.setContent(content);
			infowindow.open(map, marker);
			//calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);
			console.log(this.getPosition().lat());
			
			var end = new google.maps.LatLng(this.getPosition().lat(), this.getPosition().lng());
			calculateAndDisplayRoute(directionsService, directionsDisplay, origin, end);
			
		});
	}
	
	//Marcar mi location
	placeMarker([ location.latitude,  location.longitude ],'Aquí estas','me');
	
	//Obtener lista de ubicaciones cercanas
	$.ajax({
		url : "/listOffersNearby", 
		data : coords,
		dataType : 'json',
		type: 'post',
		success : function(result){
			for (var i = 0; i < result.length; i++) {
				var content = '<img src="/offerImage/58da6ac3584f560d087279e8/0">'
				+result[i].title
				+', <a href="/more/'+result[i]._id+'">Leer mas</a>';
				var latLng = [ result[i].latitude, result[i].longitude ];		
				placeMarker(latLng,content,'info');
			}
		}
	});
}

function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
  var tipoRecorrido = google.maps.TravelMode.WALKING;
  
  
  switch($('#travel').val()) {
    case 'WALKING':
    	tipoRecorrido = google.maps.TravelMode.WALKING;
        break;
    case 'BICYCLING':
    	tipoRecorrido = google.maps.TravelMode.BICYCLING;
        break;
    case 'DRIVING':
    	tipoRecorrido = google.maps.TravelMode.DRIVING;
        break;
  }
  
  directionsService.route({
    origin: pointA,
    destination: pointB,
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}

function initMap() {
	navigator.geolocation.getCurrentPosition(function(position) {
		setMap({ latitude: position.coords.latitude, longitude: position.coords.longitude });
	});
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9aq5-xmFKwV03YtuMKqTCTP5uHx_1rmg&callback=initMap" async defer></script>