
      <div class="chat_container">
         <div class="col-sm-3 chat_sidebar">
    	 <div class="row">
            <div id="custom-search-input">
               <div class="input-group col-md-12">
                  <input type="text" class="search-query form-control" placeholder="Buscar..." />
                  <button type="button"><i class=" glyphicon glyphicon-search"></i></button>
               </div>
            </div>
            <div class="member_list">
               <ul class="list-unstyled">
               	<div ng-repeat="pu in list_profile">
                  <li ng-click="gotoProfile(pu.id,pu.name,pu.avatar)" class="left clearfix">
                     <span class="chat-img pull-left">
                     <img ng-src="{{pu.avatar}}" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">{{pu.name}}</strong> <strong class="badge badge-success pull-right">2</strong>
                        </div>
                     </div>
                  </li>
                 </div>
               </ul>
            </div></div>
       </div>
       <!--chat_sidebar-->
		 
		 
        <div class="col-sm-9 message_section">
			<div class="row">
				<div class="new_message_head">
				<div class="pull-left">
					<div ng-if="name">
						<a href="/profile/{{profile_id}}"><img class="img-circle" style="width: 45px; height: 45px;" src="{{avatar}}" /></a>
						<span style="margin-left: 10px;">{{name}}</span>
		           </div>
				</div>
			</div>
		</div><!--new_message_head-->
		 
		<div class="chat_area" id="chat_area">
			 <ul class="list-unstyled">
		 		<li class="left clearfix" ng-repeat="ms in listMessages">
	               	<span class="chat-img1 pull-left">
	                   <img ng-src="{{ms.from.profile_photo}}" alt="avatar" class="img-circle">
	                </span>
	                <div class="chat-body1 clearfix">
	                	<p>{{ms.message}} </p>
						<div style="font-size: 9px;" class="chat_time pull-right">{{ms.date}} 
						| <span  class="pull-right" ng-if="ms.read == true">Leido <i class="fa fa-check" style="color: green;"></i></span></div>
	               </div>
	            </li>
			 </ul>
		</div><!--chat_area-->
		<div class="message_write">
    		<textarea class="form-control" ng-model="textMessage" placeholder="Escribir un mensaje..."></textarea>
		 	<div class="clearfix"></div>
 			<button class="pull-right btn btn-success btn-sm" ng-click="sendMessage()"> Enviar <i class="fa fa-comment-o"></i></button></div>
		 </div>
		 
		 </div>
         </div> <!--message_section-->
      </div>

<style>
 #custom-search-input {
  background: #f5f3f3 none repeat scroll 0 0;
  margin: 0;
  padding: 10px;
}
   #custom-search-input .search-query {
   background: #fff none repeat scroll 0 0 !important;
   border-radius: 4px;
   height: 33px;
   margin-bottom: 0;
   padding-left: 7px;
   padding-right: 7px;
   }
   #custom-search-input button {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   border: 0 none;
   border-radius: 3px;
   color: #666666;
   left: auto;
   margin-bottom: 0;
   margin-top: 7px;
   padding: 2px 5px;
   position: absolute;
   right: 0;
   z-index: 9999;
   }
   .search-query:focus + button {
   z-index: 3;   
   }
   .all_conversation button {
   background: #f5f3f3 none repeat scroll 0 0;
   border: 1px solid #dddddd;
   height: 38px;
   text-align: left;
   width: 100%;
   }
   .all_conversation i {
   background: #e9e7e8 none repeat scroll 0 0;
   border-radius: 100px;
   color: #636363;
   font-size: 17px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   width: 30px;
   }
   .all_conversation .caret {
   bottom: 0;
   margin: auto;
   position: absolute;
   right: 15px;
   top: 0;
   }
   .all_conversation .dropdown-menu {
   background: #f5f3f3 none repeat scroll 0 0;
   border-radius: 0;
   margin-top: 0;
   padding: 0;
   width: 100%;
   }
   .all_conversation ul li {
   border-bottom: 1px solid #dddddd;
   line-height: normal;
   width: 100%;
   }
   .all_conversation ul li a:hover {
   background: #dddddd none repeat scroll 0 0;
   color:#333;
   }
   .all_conversation ul li a {
  color: #333;
  line-height: 30px;
  padding: 3px 20px;
}
   .member_list .chat-body {
   margin-left: 47px;
   margin-top: 0;
   }
   .top_nav {
   overflow: visible;
   }
   .member_list .contact_sec {
   margin-top: 3px;
   }
   .member_list li {
   padding: 6px;
   }
   .member_list ul {
   border: 1px solid #dddddd;
   }
   .chat-img img {
   height: 34px;
   width: 34px;
   }
   .member_list li {
   border-bottom: 1px solid #dddddd;
   padding: 6px;
   }
   .member_list li:last-child {
   border-bottom:none;
   }
   .member_list {
   height: 380px;
   overflow-x: hidden;
   overflow-y: auto;
   }
   .sub_menu_ {
  background: #e8e6e7 none repeat scroll 0 0;
  left: 100%;
  max-width: 233px;
  position: absolute;
  width: 100%;
}
.sub_menu_ {
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  left: 100%;
  margin-left: 0;
  max-width: 233px;
  position: absolute;
  top: 0;
  width: 100%;
}
.all_conversation ul li:hover .sub_menu_ {
  display: block;
}
.new_message_head button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.new_message_head {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 18px 10px;
  width: 100%;
}
.chat_area {
  float: left;
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.chat_area li {
  padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
  height: 40px;
  width: 40px;
}
.chat_area .chat-body1 {
  margin-left: 50px;
}
.chat-body1 p {
  background: #fbf9fa none repeat scroll 0 0;
  padding: 10px;
}
.chat_area .admin_chat .chat-body1 {
  margin-left: 0;
  margin-right: 50px;
}
.chat_area li:last-child {
  padding-bottom: 10px;
}
.message_write {
  float: left;
  padding: 15px;
  width: 100%;
}

.message_write textarea.form-control {
  height: 70px;
  padding: 10px;
}
.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}
.upload_btn {
  color: #777777;
}
.sub_menu_ > li a, .sub_menu_ > li {
  float: left;
  width:100%;
}
.member_list li:hover {
  background: #428bca none repeat scroll 0 0;
  color: #fff;
  cursor:pointer;
}
</style>





<script>
if (!$('#sidebar').is(':visible'))
    $("#sidebar").toggleClass("hide");
$("#sidebar").toggleClass("menu-compact");
$(".sidebar-collapse").toggleClass("active");
b = $("#sidebar").hasClass("menu-compact");

if ($(".sidebar-menu").closest("div").hasClass("slimScrollDiv")) {
    $(".sidebar-menu").slimScroll({ destroy: true });
    $(".sidebar-menu").attr('style', '');
}
if (b) {
    $(".open > .submenu")
        .removeClass("open");
} else {
    if ($('.page-sidebar').hasClass('sidebar-fixed')) {
        var position = (readCookie("rtl-support") || location.pathname == "/index-rtl-fa.html" || location.pathname == "/index-rtl-ar.html") ? 'right' : 'left';
        $('.sidebar-menu').slimscroll({
            height: 'auto',
            position: position,
            size: '3px',
            color: themeprimary
        });
    }
}
</script>