<script src="assets/js/blueimp/blueimp-gallery.min.js" async defer></script>
<link rel="stylesheet" href="assets/css/blueimp-gallery.min.css">

<style>
.thumb {
  filter: gray;
  -webkit-filter: grayscale(1);
    -webkit-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.5);
    margin-bottom:20px;
}

.thumb:hover {
  filter: none;
  -webkit-filter: grayscale(0);
 
}
#map {
	border: 1px solid #CCC;
	border-radius: 5px;
}
</style>
<div id="blueimp-gallery" class="blueimp-gallery">
	<div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9aq5-xmFKwV03YtuMKqTCTP5uHx_1rmg" async defer></script>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="well invoice-container">
            <div class="row">
            	<div class="col-xs-6">
					Compartir : 
					<div class="btn-group">
						<a class="btn btn-primary btn-xs" href="#" ng-click="share_facebook()">Facebook <i class="fa fa-facebook"></i></a>
						<a class="btn btn-info btn-xs" href="{{share_twitter}}">Twitter <i class="fa fa-twitter"></i></a>
						<a class="btn btn-danger btn-xs" href="{{share_google}}">Google + <i class="fa fa-google-plus"></i></a>
					</div>
            	</div>
                <div class="col-xs-6 text-right">
                    <div>
                        <span class="label label-success">Fecha: {{date}}</span> | 
                        <!-- <a href="#"><i class="glyphicon glyphicon-print carbon"></i></a>  -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3 id="title-offer">{{title}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <div class="panel panel-default">
                        <div class="panel-body">
                        	<div class="row">
                        		<div class="col-xs-12">
		                            <div class="databox">
		                                <div class="databox-left no-padding">
		                                    <img src="{{user.avatar}}" style="width:40px; height:40px; border-radius: 5px; box-shadow: 0 0 5px #111;">
		                                </div>
		                                <div class="databox-right">
		                                    <div class="databox-text darkgray">{{user.name}}</div>
		                                </div>
		                            </div>
	                        	</div>
                        	</div>
                            <ul>
                                <li>Precio : {{price}}</li>
                                <li>Tienda : {{shop}}</li>
                                <li>Sucursal : {{branch}}</li>
                                <li>De {{start_date}} hasta {{end_date}}</li>
                                <li>Dirección : {{address}}</li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                        	<h4>Comentario del autor</h4>
                        	<p>{{commentary}}</p>
                        	<input type="hidden" id="latitude" value="{{latitude}}" />
                        	<input type="hidden" id="longitude" value="{{longitude}}" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-5">	
                	
					<div ng-repeat='cr in comments | limitTo: 3'>
	            		<div class="comment">
	                    	<img ng-src="{{cr.avatar}}" class="comment-avatar">
	                        <div class="comment-body">
	                            <div class="comment-text">
	                                <div class="comment-header">
	                                    <a href="#" title="">{{cr.name}}</a><span>{{cr.date}}</span>
	                                </div>
	                                {{cr.commentary}}
	                            </div>
	                        </div>
	                	</div>
                	</div>	
                
                	
                	<button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">Comentar <i class="fa fa-comment"></i></button>
                </div>
            </div>
            
            <div class="row">
            	<div class="col-md-9 col-sm-9 col-xs-9" id="links">
	            	<div ng-repeat='thumb in thumbnails'>
	            		<a href="{{thumb.image}}">
		            		<div class="col-md-3 col-sm-3 col-xs-3"><img class="thumb" ng-src="{{thumb.thumb}}" /></div>	            	
	            		</a>
	            	</div>
	            </div>
            </div>
            
            <hr class="wide" />
            <div class="invoice-notes">
                <h5 style="font-weight: 500 !important;" class="pull-left">Ubicación</h5>
				<div class="btn-group pull-right">
				  <button type="button" onclick="setTravel(this)" value="WALKING" class="btn btn-primary travel"><i class="fa fa-male"></i></button>
				  <button type="button" onclick="setTravel(this)" value="BICYCLING" class="btn btn-default travel"><i class="fa fa-bicycle"></i></button>
				  <button type="button" onclick="setTravel(this)" value="DRIVING" class="btn btn-default travel"><i class="fa fa-car"></i></button>
				</div>
				<input type="hidden" id="travel" value="WALKING">
		  		<div id="map" style="width: 100%; height: 500px;">
		  			  <div class="sk-spinner sk-spinner-cube-grid">
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
					</div>
		  		</div>   
            </div>

        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Comentarios <i class="fa fa-comments"></i></h4>
            </div>
            <div class="modal-body">
            	<div class="row">
                	<div class="col-xs-12">
						<div class="well padding-bottom-10" >
						    <span class="input-icon icon-right">
						        <textarea ng-model="textComment" rows="2" class="form-control" placeholder="Escribir nuevo comentario..."></textarea>
						        <input type="hidden" id="imageInputComment">
						        <input type="hidden" id="imageInputCommentThumb">
						        <i class="fa fa-camera themeprimary" onclick="upload_image()"></i>
						    </span>
						    <div id="imageUpload" class="col-xs-12">
						    </div>
						    <div class="padding-top-10 text-align-right">
						        <button class="btn btn-sm btn-primary" ng-click="addComment()">
						             Enviar Comentario <i class="fa fa-comment"></i>
						        </button>
						    </div>
						</div>
					</div>
				</div>
            	<div class="row">
                	<div class="col-xs-12">
						<div ng-repeat='c in comments'>
		            		<div class="comment">
		                    	<img ng-src="{{c.avatar}}" class="comment-avatar">
		                        <div class="comment-body">
		                            <div class="comment-text">
		                                <div class="comment-header">
		                                    <a href="#" title="">{{c.name}}</a><span>{{c.date}}</span>
		                                </div>
		                                {{c.commentary}}
		                                <div ng-if="c.thumb">
		                                		<img src="{{c.thumb}}" />
		                                </div>
		                            </div>
		                        </div>
		                	</div>
	                	</div>
	                	
                	</div>
				</div>
				
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<script>
function setTravel(option){
	$('#travel').val(option.value);
	
	$('.travel').removeClass('btn-default');
	$('.travel').removeClass('btn-primary');
	
	$('.travel').addClass('btn-default');
	$(option).removeClass('btn-default');
	$(option).addClass('btn-primary');
}

function setMap(location){
	var infowindow = new google.maps.InfoWindow();
	var origin = new google.maps.LatLng(parseFloat($('#latitude').val()), parseFloat($('#longitude').val()));
	var end = new google.maps.LatLng(location.latitude, location.longitude);

	
	var map = new google.maps.Map(document.getElementById('map'), {
		center: origin,
		scrollwheel: false,
		zoom: 15
	});
	
	
	//Lista de iconos de mapa
	var iconBase = 'assets/img/maps/';
    var icons = {
		parking: {
			icon: iconBase + 'blue-icon.png'
		},
		library: {
			icon: iconBase + 'green-icon.png'
		},
		info: {
			icon: iconBase + 'blue-icon.png'
		},
		me: {
			icon: iconBase + 'me-icon.png'
		}
    };
	
	directionsService = new google.maps.DirectionsService,
    directionsDisplay = new google.maps.DirectionsRenderer({
      map: map
    });
	
	function placeMarker(loc,content,type) {
		var marker = new google.maps.Marker({
			position : loc,
			type : 'info',
			map      : map,
			animation: google.maps.Animation.DROP,
			icon: icons[type].icon,
		});
		google.maps.event.addListener(marker, 'click', function(evt){
			infowindow.close();
			console.log(content);
			infowindow.setContent(content);
			infowindow.open(map, marker);
			if(type != 'me'){
				calculateAndDisplayRoute(directionsService, directionsDisplay, origin, end);
			}
		});
	}

	
	placeMarker(end,'Tú Ubicación','me');
	placeMarker(origin,$('#title-offer').html(),'info');
}



//Calcula ruta de oferta
function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
  var tipoRecorrido = google.maps.TravelMode.WALKING;
  
  
  switch($('#travel').val()) {
    case 'WALKING':
    	tipoRecorrido = google.maps.TravelMode.WALKING;
        break;
    case 'BICYCLING':
    	tipoRecorrido = google.maps.TravelMode.BICYCLING;
        break;
    case 'DRIVING':
    	tipoRecorrido = google.maps.TravelMode.DRIVING;
        break;
  }
 
  
  directionsService.route({
    origin: pointA,
    destination: pointB,
    travelMode: tipoRecorrido
  }, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}

function upload_image(){
	 $('#imageUpload').html('');
	 $('#imageInputCommentThumb').val('');
	 $('#imageInputComment').val('');
	 
	 var reader  = new FileReader();
	 var input = document.createElement('input');
	 input.type = 'file';
	 input.click();
	 input.addEventListener("change", function(){
		 reader.readAsDataURL(input.files[0]);
	 });
	 
	 reader.addEventListener("load", function () {
		var img = resizeImage(reader.result,120,100);

		strImgUp = '<div class="row"><i class="fa fa-times fa-2x" onclick="deleteImage()" style="color: red;"></i></div>';
		strImgUp += '<div class="row"><img style="border: 1px solid #666; border-radius: 3px; box-shadow: 2px 2px 2px #666" src="'+img+'"></div>';	 

		$('#imageInputCommentThumb').val(img);
		$('#imageInputComment').val(reader.result);
		$('#imageUpload').html(strImgUp);
	 }, false); 
}


function deleteImage(){
	$('#imageInputComment').val('');
	$('#imageUpload').html('');
}

$(document).ready(function(){
	document.getElementById('links').onclick = function (event) {
	    event = event || window.event;
	    var target = event.target || event.srcElement,
	        link = target.src ? target.parentNode : target,
	        options = {index: link, event: event},
	        links = this.getElementsByTagName('a');
	    blueimp.Gallery(links, options);
	};
	
	setTimeout(function(){ 
		navigator.geolocation.getCurrentPosition(function(position) {
			setMap({ latitude: position.coords.latitude, longitude: position.coords.longitude });
		});
	}, 2000);
});
</script>
