<style>
	.form-control {
		background: #FFFFFF !important;
	}
	.form-control:focus {
		box-shadow: 0 0 5px rgb(0, 131, 132) !important;
	}
	.content {
		margin: 10px 0px 0px  0px !important;
	}
	.btn-default {
		color: #CCC;
		background: rgb(0, 131, 132) !important;
		border: 1px solid rgb(0, 113, 115) !important;
		box-shadow: 0 0 5px rgb(0, 113, 115) !important;
		transition: 0.5s;
	}
	.btn-default:hover {
		color: #FFFFFF !important;
		text-shadow: 0 0 10px #FFFFFF;
	}
	input[readonly] {
		border: 1px solid #CCC !important;
	}
</style>
<script src="assets/js/fuelux/wizard/wizard-custom.js"></script>
<script src="assets/js/select2/select2.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9aq5-xmFKwV03YtuMKqTCTP5uHx_1rmg" async defer></script>

<div class="content row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
		<div id="WiredWizard" class="wizard wizard-wired" data-target="#WiredWizardsteps">
	        <ul class="steps">
	            <li data-target="#wiredstep1" class="active"><span class="step">1</span><span class="title">Datos de Oferta</span><span class="chevron"></span></li>
	            <li data-target="#wiredstep2"><span class="step">2</span><span class="title">Imágenes</span> <span class="chevron"></span></li>
	            <li data-target="#wiredstep3"><span class="step">3</span><span class="title">Úbicación</span> <span class="chevron"></span></li>
	        </ul>
	
	    </div>
	    <div class="step-content" id="WiredWizardsteps">
	        <div class="step-pane active" id="wiredstep1">
				<div class="row">
				  <div class="col-xs-12 col-md-12">
				    <div class="form-group col-xs-4 col-md-4">
				      <input type="text" id="ofertaTitulo" class="form-control input-sm" placeholder="Titulo de oferta">
				    </div>
				    <div class="form-group col-xs-4 col-md-4">
						<div class="input-group">
							<span class="input-group-addon bg-green bordered-green">$</span>
							<input type="text" id="ofertaPrecio" class="form-control input-sm" placeholder="Precio (CLP)">
						</div>
					</div>
				    <div class="form-group col-xs-4 col-md-4">
				    	 <select id="category" style="width: 100%;">
				    	 	<option value="">-- Selecciona categoría --</option>
                            <option value="{{ca.id}}" ng-repeat='ca in listCategories'>{{ca.category}}</option>
                        </select>
				    </div>
				  </div>
				  <div class="col-xs-12 col-md-12">
				    <div class="form-group col-xs-6 col-md-6">
				      <input type="text" id="ofertaTienda" class="form-control input-sm" placeholder="Tienda">
				    </div>
				    <div class="form-group col-xs-6 col-md-6">
				      <input type="text" id="ofertaSucursal" class="form-control input-sm" placeholder="Sucursal o Dirección">
				    </div>
				  </div>
				  <div class="col-xs-12 col-md-12">
				    <div class="form-group col-xs-6 col-md-6">
						<div class="input-group date">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" readonly id="ofertaInicio" class="form-control input-sm" placeholder="Fecha de inicio">
						</div>
				    </div>
				    <div class="form-group col-xs-6 col-md-6">
						<div class="input-group date">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" readonly id="ofertaFin" class="form-control input-sm" placeholder="Fecha de termino (Opcional)">
						</div>
				    </div>
				  </div>
				  <div class="col-xs-12 col-md-12">
				    <textarea class="form-control" rows="3" placeholder="Comentarios" id="ofertaComentario"></textarea>
				  </div>
				</div>
			</div>
	        <div class="step-pane" id="wiredstep2">
				<div class="row">
					<div class="form-group col-xs-12 col-md-12">
					  <input id="images" name="images" type="file" multiple class="file-loading" data-show-upload="false">
					</div>
				</div>
			</div>
	        <div class="step-pane" id="wiredstep3">
	        	
		      <div class="row">
				<div class="form-group col-xs-12 col-md-12">
				  <div class="input-group">
				    <input type="text" id="ofertaUbicacion" class="form-control" placeholder="Ubicación Manual">
				    <div class="input-group-btn">
				      <button class="btn btn-default" type="button" onclick="buscarMapa()"><i class="glyphicon glyphicon-search"></i></button>
				    </div>
				  </div>
				</div>
			      </div>
			      <div class="row">
				<div class="col-xs-12 col-md-12">
				  <div id="map" style="width: 100%; height: 500px;"></div>
				  <input type="hidden" id="latitude" />
				  <input type="hidden" id="longitude" />
				</div>
			  </div>
	        	
	        </div>
	    </div>
	    <div class="actions actions-footer" id="WiredWizard-actions">
	        <div class="btn-group">
	            <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa fa-angle-left"></i> Anterior</button>
	            <button type="button" class="btn btn-default btn-sm btn-next" data-last="Subir">Siguiente <i class="fa fa-angle-right"></i></button>
	        </div>
	    </div>
	</div>
</div>

<script type="text/javascript">	
	function subirOferta(){
	
		var lista_imagenes = new Array;
		var lista_thumb = new Array;
		
		
		var imagenes = document.getElementById('images').files;
		for (var i=0; i < imagenes.length; i++) {
    		var reader = new FileReader();
		    reader.readAsDataURL(imagenes[i]);
		    reader.onload = function (evt) {
		    	
		    	var img = new Image(); 

				img.onload = function(){
					var iwidth = 800;
					var iheight = 600;
					
					if(img.width > 1000){
						iwidth = img.width*(1000/img.width);
						iheight = img.height*(1000/img.width);
					} else {
						if(img.height > 1000){
							iwidth = img.width*(1000/img.height);
							iheight = img.height*(1000/img.height);
						}
					}
					lista_imagenes.push(resizeImage(evt.target.result, iwidth, iheight));
					lista_thumb.push(resizeImage(evt.target.result, 100, 100));
				};
				
				img.src = evt.target.result; 
		    }
		    reader.onerror = function (evt) {
		        console.log('Ocurrio un error al cargar la imagen');
		    }
		}
		
	
		setTimeout(function(){ 
			var datosOferta = {
				ofertaTitulo : angular.element('#ofertaTitulo').val(),
				ofertaPrecio : angular.element('#ofertaPrecio').val(),
				ofertaTienda : angular.element('#ofertaTienda').val(),
				ofertaSucursal : angular.element('#ofertaSucursal').val(),
				ofertaInicio : angular.element('#ofertaInicio').val(),
				ofertaFin : angular.element('#ofertaFin').val(),
				ofertaComentario : angular.element('#ofertaComentario').val(),
				ofertaUbicacion : angular.element('#ofertaUbicacion').val(),
				thumb1 : lista_thumb[0],
				thumb2 : lista_thumb[1],
				thumb3 : lista_thumb[2],
				imagen1 : lista_imagenes[0],
				imagen2 : lista_imagenes[1],
				imagen3 : lista_imagenes[2],
				category : $('#category').val(),
				latitude : $('#latitude').val(),
				longitude : $('#longitude').val()
			};
		
			
			//Enviar información de la oferta
			$.ajax({
				type: 'POST',
				url: '/offerup',
				dataType: 'json',
				data : datosOferta,
				success: function (response) {
					if(response.success){
						swal("Operación exitosa", "La oferta fue subida exitosamente!", "success");
						setTimeout(function(){ 
							location.href='/';
						}, 1000);
					} else {
						swal("Error", "Ocurrio un error al subir la oferta!", "error");
					}
				}
			});
		}, 3000);
		
		
		
	}

	var map; //Variable de mapa
  
	$(document).ready(function(){
		$("#category").select2();

		geolocation();
		$('.input-group.date').datepicker({
			todayBtn: "linked",
			format: 'yyyy-mm-dd',
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true
		});
    
		$("#images").fileinput({
			language: "es",
			allowedFileExtensions: ["jpg", "png"]
		});
    
    
        $('#WiredWizard').wizard();
		$('#WiredWizard').wizard().on('finished', function (e) {
			subirOferta();
		});
    
    
		$('#WiredWizard').wizard().on('changed', function (e) {
			console.log(e);
			buscarMapa();
		});
	});
  

	function geolocation(){
		if(navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(coordenadas);
		} else {
			alert('Este navegador es algo antiguo, actualiza para usar el API de localización');                  
		}
	}

	//Obtiene direccion de coordenadas
	function coordenadas(position) {
		var myLatLng = {lat: position.coords.latitude, lng: position.coords.longitude};
		initMap(myLatLng);
		$.ajax({
			type: 'GET',
			url: 'https://maps.googleapis.com/maps/api/geocode/json?latlng='+myLatLng.lat+','+myLatLng.lng+'&sensor=false',
			dataType: "json",
			success: function (data) {
				$('#ofertaUbicacion').val(data.results[0].formatted_address);
			}
		}); 
	}

	function buscarMapa(){
		var direccion = document.getElementById('ofertaUbicacion').value;
		$.ajax({
			type: 'GET',
			url: 'https://maps.googleapis.com/maps/api/geocode/json?address='+direccion,
			dataType: "json",
			success: function (data) {
				initMap(data.results[0].geometry.location);
				console.log(data.results[0].geometry.location);
			}
		}); 
	}

	function initMap(position) {
		var map = new google.maps.Map(document.getElementById('map'), {
			center: position,
			scrollwheel: false,
			zoom: 18
		});
		var marker = new google.maps.Marker({
			position: position,
			map: map,
			title: 'Aquí­ estas'
		});
		$('#latitude').val(position.lat);
		$('#longitude').val(position.lng);
	}
  
	function buscarMapa(){
		var direccion = document.getElementById('ofertaUbicacion').value;
	    $.ajax({
			type: 'GET',
			url: 'https://maps.googleapis.com/maps/api/geocode/json?address='+direccion,
			dataType: "json",
			success: function (data) {
			  initMap(data.results[0].geometry.location);
			  console.log(data.results[0].geometry.location);
			}
	    }); 
	}
</script>