<div class="row">
    <div class="col-md-12">
	<div class="profile-container">
	    <div class="profile-header row">
		<div class="col-lg-2 col-md-4 col-sm-12 text-center">
		    <img ng-src="{{profile_info.profile_photo}}" alt="" class="header-avatar" />
		</div>
		<div class="col-lg-5 col-md-8 col-sm-12 profile-info">
		    <div class="header-fullname">{{profile_info.name}}</div>
		    <div class="btn-group pull-right">
		    	<button ng-click="follow()" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Seguir </button>
		    	<button onclick="message()" class="btn btn-primary btn-sm"><i class="fa fa-comment-o"></i>Mensaje</button>
		    </div>
		    <div class="header-information">{{profile_info.description}}</div>
		</div>
		<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 profile-stats">
		    <div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
			    <div class="stats-value pink">284</div>
			    <div class="stats-title">SIGUIENDO</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
			    <div class="stats-value pink">803</div>
			    <div class="stats-title">SEGUIDORES</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
			    <div class="stats-value pink">1207</div>
			    <div class="stats-title">PUBLICACIONES</div>
			</div>
		    </div>
		    <div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
			    <i class="glyphicon glyphicon-map-marker"></i> Boston
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
			    Rate: <strong>$250</strong>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
			    Age: <strong>24</strong>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="profile-body">
		<div class="col-lg-12">
		    <div class="tabbable">
			<ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
			    <li class="active">
				<a data-toggle="tab" href="#informacion">
				    Sociales
				</a>
			    </li>
			    </li>
			    <li class="tab-palegreen">
				<a data-toggle="tab" id="contacttab" href="#contacts">
				    Contacts
				</a>
			    </li>
			</ul>
			<div class="tab-content tabs-flat">
			    <div id="informacion" class="tab-pane active">
				<div class="row profile-overview">
				    <div class="col-md-8">
					<h6 class="row-title before-orange">Seguidores</h6>
					<div class="row">
					    <div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="databox databox-graded">
						    <div class="databox-left no-padding">
							<img src="assets/img/avatars/Javi-Jimenez.jpg" style="width:65px; height:65px;">
						    </div>
						    <div class="databox-right padding-top-20 bg-whitesmoke">
							<div class="databox-stat orange radius-bordered">
							    <i class="stat-icon glyphicon glyphicon-remove"></i>
							</div>
							<div class="databox-text darkgray">JAVI JIMENEZ</div>
							<div class="databox-text darkgray">Manager</div>
						    </div>
						</div>
					    </div>
					    <div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="databox databox-graded">
						    <div class="databox-left no-padding">
							<img src="assets/img/avatars/adam-jansen.jpg" style="width:65px; height:65px;">
						    </div>
						    <div class="databox-right padding-top-20 bg-whitesmoke">
							<div class="databox-stat palegreen radius-bordered">
							    <i class="stat-icon glyphicon glyphicon-plus"></i>
							</div>
							<div class="databox-text darkgray">LEE MUNROE</div>
							<div class="databox-text darkgray">Developer</div>
						    </div>
						</div>
					    </div>
					    <div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="databox databox-graded">
						    <div class="databox-left no-padding">
							<img src="assets/img/avatars/Nicolai-Larson.jpg" style="width:65px; height:65px;">
						    </div>
						    <div class="databox-right padding-top-20 bg-whitesmoke">
							<div class="databox-stat palegreen radius-bordered">
							    <i class="stat-icon glyphicon glyphicon-plus"></i>
							</div>
							<div class="databox-text darkgray">NICOLAI LARSON</div>
							<div class="databox-text darkgray">Manager</div>
						    </div>
						</div>
					    </div>

					</div>
					<h6 class="row-title before-palegreen">Siguiendo</h6>
					<div class="row">
					    <div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="databox databox-graded">
						    <div class="databox-left no-padding">
							<img src="assets/img/avatars/John-Smith.jpg" style="width:65px; height:65px;">
						    </div>
						    <div class="databox-right padding-top-20 bg-whitesmoke">
							<div class="databox-stat orange radius-bordered">
							    <i class="stat-icon glyphicon glyphicon-remove"></i>
							</div>
							<div class="databox-text darkgray">JOHN SMITH</div>
							<div class="databox-text darkgray">Architect</div>
						    </div>
						</div>
					    </div>
					    <div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="databox databox-graded">
						    <div class="databox-left no-padding">
							<img src="assets/img/avatars/Matt-Cheuvront.jpg" style="width:65px; height:65px;">
						    </div>
						    <div class="databox-right padding-top-20 bg-whitesmoke">
							<div class="databox-stat palegreen radius-bordered">
							    <i class="stat-icon glyphicon glyphicon-plus"></i>
							</div>
							<div class="databox-text darkgray">MATT CHEUVRONT</div>
							<div class="databox-text darkgray">Developer</div>
						    </div>
						</div>
					    </div>
					    <div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="databox databox-graded">
						    <div class="databox-left no-padding">
							<img src="assets/img/avatars/Stephanie-Walter.jpg" style="width:65px; height:65px;">
						    </div>
						    <div class="databox-right padding-top-20 bg-whitesmoke">
							<div class="databox-stat orange radius-bordered">
							    <i class="stat-icon glyphicon glyphicon-remove"></i>
							</div>
							<div class="databox-text darkgray">KATE WALTER</div>
							<div class="databox-text darkgray">Developer</div>
						    </div>
						</div>
					    </div>
					</div>
				    </div>
				    <div class="col-md-4">
						<div ng-repeat='cr in comments | limitTo: 3'>
							<div class="comment">
								<img ng-src="{{cr.avatar}}" class="comment-avatar">
								<div class="comment-body">
								    <div class="comment-text">
									<div class="comment-header">
									   <a href="#" title="">{{cr.name}}</a><span>{{cr.date}}</span>
									</div>
									{{cr.commentary}}
								    </div>
								    <div class="comment-footer">
									<a href="#"><i class="fa fa-thumbs-o-up"></i></a>
									<a href="#"><i class="fa fa-thumbs-o-down"></i></a>
									<a href="#">Reply</a>
								    </div>
								</div>
							</div>
						</div>
						<button class="pull-right btn btn-primary btn-xs" href="javascript:modalComentarios()" style="text-decoration: none;" data-toggle="modal" data-target=".bs-example-modal-lg">Comentar  <i class="fa fa-comment"></i></button>
				    </div>
				</div>
			    </div>
			    
			    <div id="contacts" class="tab-pane">
				<div class="row">
				    <div class="col-md-6">
					<div class="profile-contacts">
					    <div class="profile-badge orange"><i class="fa fa-phone orange"></i><span>Contacts</span></div>
					    <div class="contact-info">
						<p>
						    Phone	: +1 1 2345 6789 <br>
						    Cell		: +1 9 876 5432
						</p>
						<p>
						    Email		: kim@gmail.com
						    <br>
						    Skype		: kim.ryder
						</p>
						<p>
						    Facebook	: facebook.com/Kim.Ryder
						    <br>
						    Twitter	: @KimRyder
						</p>
					    </div>
					    <div class="profile-badge azure">
						<i class="fa fa-map-marker azure"></i><span>Location</span>
					    </div>
					    <div class="contact-info">
						<p>
						    Address<br>
						    Department 98<br>
						    44-46 Morningside Road<br>
						    Toronto, Canada
						</p>
						<p>
						    Office<br>
						    44-46 Morningside Road<br>
						    Toronto, Canada
						</p>
					    </div>
					</div>
				    </div>
				    <div class="col-md-6">
					<div id="contact-map" class="animated flipInY"></div>
				    </div>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>



<div class="modal fade bs-example-modal-lg" id="modalComentarios" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Comentarios <i class="fa fa-comments"></i></h4>
            </div>
            <div class="modal-body">
            	<div class="row">
                	<div class="col-xs-12">
						<div class="well padding-bottom-10" >
						    <span class="input-icon icon-right">
						        <textarea ng-model="textComment" rows="2" class="form-control" placeholder="Escribir nuevo comentario..."></textarea>
						        <input type="hidden" id="imageInputComment">
						        <i class="fa fa-camera themeprimary" onclick="upload_image()"></i>
						    </span>
						    <div id="imageUpload" class="col-xs-12">
						    </div>
						    <div class="padding-top-10 text-align-right">
						        <button class="btn btn-sm btn-primary" ng-click="addComment()">
						             Enviar Comentario <i class="fa fa-comment"></i>
						        </button>
						    </div>
						</div>
					</div>
				</div>
            	<div class="row">
                	<div class="col-xs-12">
						
						<div ng-repeat='c in comments'>
		            		<div class="comment">
		                    	<img ng-src="{{c.avatar}}" class="comment-avatar">
		                        <div class="comment-body">
		                            <div class="comment-text">
		                                <div class="comment-header">
		                                    <a href="#" title="">{{c.name}}</a><span>{{c.date}}</span>
		                                </div>
		                                {{c.commentary}}
		                                <div ng-if="c.image">
		                                		<img src="{{c.image}}" />
		                                </div>
		                            </div>
		                            <div class="comment-footer">
		                                <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
		                                <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
		                                <a href="#">Reply</a>
		                            </div>
		                        </div>
		                	</div>
	                	</div>
	                	
                	</div>
				</div>
				
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel">Mensaje <i class="fa fa-comment"></i></h4>
            </div>
            <div class="modal-body">
            	<div class="row">
					<div class="col-sm-12">
	                    <div class="form-group">
	                        <label for="exampleInputEmail2">Mensaje</label>
	                        <span class="input-icon icon-right">
	                            <textarea class="form-control" ng-model="textMessage" rows="10"></textarea>
	                            <i class="fa fa-file-image-o"></i>
	                        </span>
	                        <p class="help-block">Escribe tu mensaje.</p>
	                    </div>
	                </div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button class="btn btn-success pull-right" ng-click="sendMessage()">Enviar Mensaje <i class="fa fa-comment"></i></button>
					</div>
				</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>   

<script type="text/javascript">
	function modalComentarios(){
		$('#modalComentarios').modal('show');
	}
	
	function upload_image(){
		 $('#imageUpload').html('');
		 $('#imageInputComment').val('');
		 var reader  = new FileReader();
		 var input = document.createElement('input');
		 input.type = 'file';
		 input.click();
		 input.addEventListener("change", function(){
			 reader.readAsDataURL(input.files[0]);
		 });
		 
		 reader.addEventListener("load", function () {
			 strImgUp = '<div class="row"><i class="fa fa-times fa-2x" onclick="deleteImage()" style="color: red;"></i></div>';
			 strImgUp += '<div class="row"><img style="width: 150px; border: 1px solid #666; border-radius: 3px; box-shadow: 2px 2px 2px #666" src="'+reader.result+'"></div>';	 

			 $('#imageInputComment').val(reader.result);
			 $('#imageUpload').html(strImgUp);
		 }, false); 
	}


	function deleteImage(){
		$('#imageInputComment').val('');
		$('#imageUpload').html('');
	}
	function message(){
		$('#message').modal('show');
	}
</script>













