<div class="row">
    <div class="col-md-12">
		<div class="profile-container">
		    <div class="profile-header row">
				<div class="col-md-4 text-center">
				    <img ng-src="{{profile_info.profile_photo}}"  class="header-avatar" />
				</div>
				<div class="col-md-8 profile-info">
				    <div class="header-fullname">{{profile_info.name}}</div>
				    <div class="btn-group pull-right">
				    	<button onclick="modalDenuncia()" class="btn btn-danger btn-sm">Denuncia <i class="fa fa-exclamation-triangle"></i></button>
				    	<button onclick="message()" class="btn btn-primary btn-sm"><i class="fa fa-comment-o"></i>Mensaje</button>
				    </div>
				    <div class="header-information">{{profile_info.description}}</div>
				</div>
		    </div>
		    <div class="profile-body">
				<div class="col-lg-12">
				    <div class="tabbable">
						<div class="tab-content tabs-flat">
							<div class="row col-md-12">
								<button class="pull-right btn btn-primary btn-xs" href="javascript:modalComentarios()" style="text-decoration: none;" data-toggle="modal" data-target=".bs-example-modal-lg">Comentar  <i class="fa fa-comment"></i></button>
							</div>
							<div class="row profile-overview">
							    <div class="col-md-12">
									<div ng-repeat='cr in comments | limitTo: 3'>
										<div class="comment">
											<img ng-src="{{cr.avatar}}" class="comment-avatar">
											<div class="comment-body">
											    <div class="comment-text">
												<div class="comment-header">
												   <a href="#" title="">{{cr.name}}</a><span>{{cr.date}}</span>
												</div>
												{{cr.commentary}}
											    </div>
											    <div class="comment-footer">
												<a href="#"><i class="fa fa-thumbs-o-up"></i></a>
												<a href="#"><i class="fa fa-thumbs-o-down"></i></a>
												<a href="#">Reply</a>
											    </div>
											</div>
										</div>
									</div>
							    </div>
							</div>
						</div>
				    </div>
				</div>
		    </div>
		</div>
    </div>
</div>



<div class="modal fade bs-example-modal-lg" id="modalComentarios" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Comentarios <i class="fa fa-comments"></i></h4>
            </div>
            <div class="modal-body">
            	<div class="row">
                	<div class="col-xs-12">
						<div class="well padding-bottom-10" >
						    <span class="input-icon icon-right">
						        <textarea ng-model="textComment" rows="2" class="form-control" placeholder="Escribir nuevo comentario..."></textarea>
						        <input type="hidden" id="imageInputComment">
						        <i class="fa fa-camera themeprimary" onclick="upload_image()"></i>
						    </span>
						    <div id="imageUpload" class="col-xs-12">
						    </div>
						    <div class="padding-top-10 text-align-right">
						        <button class="btn btn-sm btn-primary" ng-click="addComment()">
						             Enviar Comentario <i class="fa fa-comment"></i>
						        </button>
						    </div>
						</div>
					</div>
				</div>
            	<div class="row">
                	<div class="col-xs-12">
						
						<div ng-repeat='c in comments'>
		            		<div class="comment">
		                    	<img ng-src="{{c.avatar}}" class="comment-avatar">
		                        <div class="comment-body">
		                            <div class="comment-text">
		                                <div class="comment-header">
		                                    <a href="#" title="">{{c.name}}</a><span>{{c.date}}</span>
		                                </div>
		                                {{c.commentary}}
		                                <div ng-if="c.image">
		                                		<img src="{{c.image}}" />
		                                </div>
		                            </div>
		                            <div class="comment-footer">
		                                <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
		                                <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
		                                <a href="#">Reply</a>
		                            </div>
		                        </div>
		                	</div>
	                	</div>
	                	
                	</div>
				</div>
				
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Mensaje <i class="fa fa-comment"></i></h4>
            </div>
            <div class="modal-body">
            	<div class="row">
					<div class="col-sm-12">
	                    <div class="form-group">
	                        <label for="exampleInputEmail2">Mensaje</label>
	                        <span class="input-icon icon-right">
	                            <textarea class="form-control" ng-model="textMessage" rows="10"></textarea>
	                            <i class="fa fa-file-image-o"></i>
	                        </span>
	                        <p class="help-block">Escribe tu mensaje.</p>
	                    </div>
	                </div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button class="btn btn-success pull-right" ng-click="sendMessage()">Enviar Mensaje <i class="fa fa-comment"></i></button>
					</div>
				</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>   


<div class="modal fade modal-darkorange" id="modalDenuncia" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Denuncia <i class="fa fa-exclamation-triangle"></i></h4>
            </div>
            <div class="modal-body">
            	<div class="row">
            		<div class="col-md-12">
            			<textarea class="form-control" ng-model="textComplaint"></textarea>
            		</div>
            	</div>
            </div>
            <div class="modal-footer">
            	<button class="btn btn-danger" ng-click="sendComplaint()" id="txtDenuncia" style="width: 100%">Denunciar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>   

<script type="text/javascript">
	function modalComentarios(){
		$('#modalComentarios').modal('show');
	}
	
	function modalDenuncia(){
		$('#modalDenuncia').modal('show');
	}
	
	function upload_image(){
		 $('#imageUpload').html('');
		 $('#imageInputComment').val('');
		 var reader  = new FileReader();
		 var input = document.createElement('input');
		 input.type = 'file';
		 input.click();
		 input.addEventListener("change", function(){
			 reader.readAsDataURL(input.files[0]);
		 });
		 
		 reader.addEventListener("load", function () {
			 strImgUp = '<div class="row"><i class="fa fa-times fa-2x" onclick="deleteImage()" style="color: red;"></i></div>';
			 strImgUp += '<div class="row"><img style="width: 150px; border: 1px solid #666; border-radius: 3px; box-shadow: 2px 2px 2px #666" src="'+reader.result+'"></div>';	 

			 $('#imageInputComment').val(reader.result);
			 $('#imageUpload').html(strImgUp);
		 }, false); 
	}


	function deleteImage(){
		$('#imageInputComment').val('');
		$('#imageUpload').html('');
	}
	function message(){
		$('#message').modal('show');
	}
</script>













